header {
    height: 120px;
}
header h1 {
    float: left;
    margin-top: 32px;
    font-size: 32px;
    font-weight: 1000;
}
header h1 .color {
    color: #02b8dd;
}
header nav {
    float: right;
    font-family:'Crete Round', serif;
}
header nav ul li {
    display: inline-block;
    margin-top: 50px;
}
header nav ul li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}