<div class="container-fluid">
  <div class="row"></div>

  <div class="row mt-2">
    <div class="col-3">
      <button class="btn btn-outline-info btn-block"
        routerLink='/admin/main/create-question'
        routerLinkActive='active'>
        Questions
      </button>

      <button class="btn btn-outline-info btn-block"
        routerLink='/admin/main/create-survey'
        routerLinkActive='active'>
        Create Survey
      </button>

      <button class="btn btn-outline-info btn-block"
        routerLink='/admin/main/reports'
        routerLinkActive='active'>
        Reports
      </button>
    </div>

    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
