

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form autocomplete='off' #form='ngForm'  (ngSubmit)='register(form)'>
          <h3 style="margin:85px">Survey Admin - Register for new user</h3>
          

          
          <div class="form-outline mb-4">
            <input
            type="text"
            [(ngModel)]='user.username'
            class="form-control"
            name="username"
            placeholder="Enter username"
            id="username"
            required
            autofocus
          />
           
          </div>

          <div class="form-outline mb-4">
            <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Enter password"
            id="password"
            required
            [(ngModel)]='user.password'
          />
           
          </div>

          <div class="form-outline mb-4">
            <input type="email" class="form-control"
            name="email" placeholder="Enter Email Address" [(ngModel)]='user.email'
            id="email" required>
          </div>

          <div class="form-outline mb-4">
            <input type="text" class="form-control"
            name="displayName" placeholder="Enter Display Name" [(ngModel)]='user.displayName'
            id="displayName" required>
          </div>
          

          <div class="text-center text-lg-start mt-4 pt-2">
            <input type="submit" class="btn btn-success" value="Register" /> &nbsp;
            <a href="/">
                <input type="button" class="btn btn-warning" value="Cancel" />
            </a>

            <!-- <button class="btn btn-primary btn-lg"  type='submit'
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? 
              <a href="/register">Register Here</a></p> -->

          </div>

        </form>
      </div>
    </div>
  </div>
  
</section>

<!-- <div class="bg-info p-2 text-center text-white">
    <h3>Survey Admin - Register for new user</h3>
  </div>


  <main class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-sm-8 offset-sm-1">
        <div class="bg-danger mt-2 p-2 text-center text-white"
          *ngIf='errorMessage != null'>
          {{ errorMessage }}
        </div>
        <h1>Please Register</h1>
        <form autocomplete='off' #form='ngForm'  (ngSubmit)='register(form)'>

            <fieldset class="form-group">
                <label for="username">Username: </label>
                <input
                  type="text"
                  [(ngModel)]='user.username'
                  class="form-control"
                  name="username"
                  placeholder="Enter username"
                  id="username"
                  required
                  autofocus
                />
              </fieldset>

              <fieldset class="form-group">
                <label for="password">Password: </label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="Enter password"
                  id="password"
                  required
                  [(ngModel)]='user.password'
                />
            </fieldset>

            <fieldset class="form-group">
                <label for="email">Email: </label>
                <input type="email" class="form-control"
                name="email" placeholder="Enter Email Address" [(ngModel)]='user.email'
                id="email" required>
            </fieldset>
            
            <fieldset class="form-group">
                <label for="displayName">Display Name: </label>
                <input type="text" class="form-control"
                name="displayName" placeholder="Enter Display Name" [(ngModel)]='user.displayName'
                id="displayName" required>
            </fieldset>
           
            <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Register" /> &nbsp;
                <a href="/">
                    <input type="button" class="btn btn-warning" value="Cancel" />
                </a>
            </fieldset>
  
      </form>
      </div>
    </div>
  </main> -->