<div class="container">
    <div class="jumbotron">
        <h2 class="mb-0" style="color: #B57328; font-family: 'Times New Roman', Arial, sans-serif; font-size: x-small;">
            SRADHS SURVEYS
        </h2>
        <p class="mb-1" style="color: #707070 ; font-family: 'Times New Roman', Times, serif; font-size: medium;">
            <br>
            ➡ We are here to provide customers a platform to electronically share their surveys <br>
            ➡ All users and survey creators have access to our shared platform, which they may use to analyze the data using our analytical graphs <br>
            ➡ Every survey builder has a controller that is compatible with authentication 
        </p>
    </div>
  </div>