<div class="container">
<div class="jumbotron">
    <h1 class="mb-0" style="color: #B37129; font-family: 'Times New Roman', Arial, sans-serif; font-weight: bolder;">
        SRADHS
        <span class="text" style="color: #645244;">SURVEYS</span>
    </h1>
    <hr class="my-4">
    <p class="lead" style="color: #707070 ; font-family: 'Times New Roman', Times, serif; font-weight: bold;">TEAM OF 
        FULLSTACK DEVELOPER <br>
        <a href="ssurvyes@gmail.com">ssurvyes@gmail.com</a>
    </p>
</div>
</div>