
<div class="container cc1 ">
    <!-- <div class="jumbotron"> -->
    <div class="col-md-8 align-items-center ">
    <h1 class="mb-1" style="color: #B37129; font-family: 'Times New Roman', Arial, sans-serif; font-weight: bolder;">SRADHS
        <span class="text" style="color: #645244;">SURVEYS</span>
        <!-- <img src="/assets/img/logo3.png" alt="HTML5 Icon" width="80" height="80"> -->
    </h1>
    
          <h2 class="logotext">
          <p class="mb-0" style="color:  #1e0553; font-family: 'Times New Roman',Arial, sans-serif;font-size: smaller;"> <i class="fas fa-envelope"></i>  sradhssurvyes@gmail.com</p>
          <p class="mb-0" style="color: #1e0553; font-family: 'Times New Roman', Arial, sans-serif;" > <i class="fas fa-phone"></i>  +1-9999999999</p></h2>
            
        <!-- <form name="contact" method="POST" action="/contact">
            <table>
                <tr>
                    <td><p>First Name</p></td>
                    <td width="40"></td>
                    <td><p><input type="text" name="fname" ></p></td>
                </tr>
                <tr>
                    <td><p>Last Name</p></td>
                    <td width="20"></td>
                    <td><p><input type="text" name="lname" ></p></td>
                </tr>
                <tr>
                    <td><p>Contact Number </p></td>
                    <td width="11"></td>
                    <td><p><input type="text" name="phone" ></p></td>
                </tr>
                <tr>
                  <td><p>Email Id</p></td>
                  <td width="25"></td>
                  <td><p><input type="text" name="email" ></p></td>
              </tr>
              <tr>
                <td><p>Message </p></td>
                <td width="50"></td>
                <td><p><textarea name="message" rows="2" cols="23"></textarea></p></td>
            </tr>
                <tr>
                    <td colspan="3" align="center">
                        <a href="/home">
                          <input type="button" value="Submit" class="btn btn-danger btn-sm"/>
                       </a>
                    </td>
              </tr>
         
          </table>
          </form> -->
            <div class="row cc">
                    <h1>Contact Us</h1>
            </div>
            <div class="row ccc">
                    <h4 style="text-align:center">We'd love to hear from you!</h4>
            </div>
            <div class="row input-container">
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" required />
                            <label>Name</label> 
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <input type="text" required />
                            <label>Email</label> 
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input type="text" required />
                            <label>Phone Number</label> 
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <textarea required></textarea>
                            <label>Message</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <a href="/home">
                            <input type="button" value="Send Message" class="btn-lrg submit-btn"/>
                         </a>
                        <!-- <div class="btn-lrg submit-btn">   Send Message</div> -->
                    </div>
            </div>
        </div>
</div>

