<!DOCTYPE html>
<html>
<center>
<div class="container">
    <div class="jumbotron">
    <div class="col-md-8 align-items-center ">
    <h1 class="mb-1" style="color: #B37129; font-family: 'Times New Roman', Arial, sans-serif; font-weight: bolder;">SRADHS
        <span class="text" style="color: #645244;">SURVEYS</span>
    </h1>
    <div><p></p></div>
          <h2 class="logotext">
          <p class="mb-0" style="color:  #1e0553; font-family: 'Times New Roman', Arial, sans-serif;"> <i class="fas fa-envelope"></i> Email: sradhssurvyes@gmail.com</p>
          <p class="mb-0" style="color: #1e0553; font-family: 'Times New Roman', Arial, sans-serif;" > <i class="fas fa-phone"></i> Phone No: +1-9999999999</p></h2>
        <div><p></p></div>
        <!-- <img src="/assets/img/contactus.jpg" alt="HTML5 Icon" width="1000" height="250"> -->
        <div class="card-body d-flex flex-column col-md-6 align-items-center">
            
            <h4 class="logotext" style="color: #7b2b0e; font-family: 'Times New Roman', Arial, sans-serif; font-weight: bolder;">
                -:Inquiry Form:-</h4> 
        <form name="contact" method="POST" action="/contact">
            <table>
                <tr>
                    <td><p>First Name</p></td>
                    <td width="40"></td>
                    <td><p><input type="text" name="fname" ></p></td>
                </tr>
                <tr>
                    <td><p>Last Name</p></td>
                    <td width="20"></td>
                    <td><p><input type="text" name="lname" ></p></td>
                </tr>
                <tr>
                    <td><p>Contact Number </p></td>
                    <td width="11"></td>
                    <td><p><input type="text" name="phone" ></p></td>
                </tr>
                <tr>
                  <td><p>Email Id</p></td>
                  <td width="25"></td>
                  <td><p><input type="text" name="email" ></p></td>
              </tr>
              <tr>
                <td><p>Message </p></td>
                <td width="50"></td>
                <td><p><textarea name="message" rows="2" cols="23"></textarea></p></td>
            </tr>
                <tr>
                    <td colspan="3" align="center">
                        <a href="/home">
                          <input type="button" value="Submit" class="btn btn-danger btn-sm"/>
                       </a>
                    </td>
              </tr>
         
          </table>
          </form>
     </div>
   
</div>
</div>
</div>
</center>
</html>