<!-- <form #form='ngForm'
    (ngSubmit)='submitResponse(form)' class="m-2"> -->

<div style="margin:5%; font-size: 20px;">

<div *ngFor='let question of surveyQuestions.questions' class="card m-1 p-1 bg-light">
    <h4>
      {{ question.qnumber }}
    </h4>
    
    <div class="card-text bg-white p-1">{{ question.text }}

        <div *ngIf="question.type==='mcq'">
            <div *ngFor="let option of question.choices; let i = index">
                <label>
                <input type="radio" [name]="question.qnumber" [value]="option" (change) ="handleChange(option)">
                {{option}}
                </label>
            </div>
        </div>  

        <div *ngIf="question.type==='text'">
            <input type="text" name="txtAnswer">
        </div>  

        
    </div>
  </div>
<br>
  <button type="button" class="btn btn-success" (click)='submitSurvey()' style="font-size: 25px;" >Submit</button> &nbsp; &nbsp;
  <button type="button" class="btn btn-secondary" (click)='cancel()' style="font-size: 25px;">Cancel</button>

</div>

<!-- </form> -->

