<form novalidate #form='ngForm' (ngSubmit)='save(form)'>
  <div class="container textFont">
    <div class="form-group">
      <label style="color: rgba(92, 52, 172, 0.703);font-weight: 500;">Question</label>
      <input type="text" class="form-control" name="name" [(ngModel)]='questionUI.qtext' placeholder="Enter your Question">
    </div>
  
    <div class="form-group">
      <label style="color: rgba(104, 29, 169, 0.703);font-weight: 500;">Options</label>
      <input type="text" class="form-control" name="choice1" [(ngModel)]='questionUI.choice1' placeholder="Enter your Option 1">
      <input type="text" class="form-control" name="choice2" [(ngModel)]='questionUI.choice2' placeholder="Enter your Option 2">
      <input type="text" class="form-control" name="choice3" [(ngModel)]='questionUI.choice3' placeholder="Enter your Option 3">
      <input type="text" class="form-control" name="choice4" [(ngModel)]='questionUI.choice4' placeholder="Enter your Option 4">
    </div>
  
    <script> function myFunction() { alert("Record submitted successfully!"); } </script>
    <button onclick="myFunction()" type='submit' class="btn btn-primary m-1" [class.btn-warning]='editing' >
      <i class="{{editing ? 'fas fa-save' : 'fas fa-plus-circle' }}"></i> {{ editing ? "Save" : "Add" }}
    </button>
    
    <button type='reset' class="btn btn-secondary" routerLink='/admin/main/all-questions'>
      <i class="fas fa-undo"></i> Cancel
    </button>

  </div>
   
  </form>